# Ignore .env files
.env

# Ignore .env files

# Ignore wordpress itself
wordpress
!inc/wordpress

# Ignore vendor lib
vendor
node_modules

# Ignore generated assets
.checksums
js
css
fonts

# Ignore build
build
svn

# Reports
coverage
clover.xml

# Ignore bash history from docker
.bash_history
